*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header {
    padding: 30px 0;
    background-color: #f5f5f5;
}

.header .container {
    border-radius: 2.5rem;
    box-shadow: 8px 8px 16px #aeaec066, -8px -8px 16px #fffc;
}

.header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo_page {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo_name {
    max-width: 85px;
    font-weight: 600;
    font-size: 2rem;
    color: #152427;
}

.navbar_list {
    display: flex;
    gap: 40px;
}

.nav_item {
    font-weight: 500;
    font-style: Medium;
    font-size: 1.8rem;
    color: #575d5e;
    transition: 0.25s;
}

.nav_item:hover {
    color: #33cc33;
    text-shadow: 1px 0 0 currentColor;
}

.cta {
    background-color: #143c3c;
    width: 173px;
    height: 57px;
    border-radius: 40px;
    font-weight: 500;
    font-style: Medium;
    font-size: 1.8rem;
    text-align: center;
    line-height: 57px;
    color: #ffffff;
    transition: 0.25s;
}

.cta:hover {
    background-color: #83a17d;
}

/* Hero */
.hero {
    background-color: #f5f5f5;
    padding-top: 150px;
    padding-bottom: 100px;
}

.hero_main {
    text-align: center;
}

.hero__heading {
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 5rem;
    line-height: 60px;
    background: #f0b7a1;
    background: linear-gradient(
        to right,
        #f0b7a1 0%,
        #8c3310 50%,
        #752201 51%,
        #bf6e4e 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__desc {
    font-weight: 500;
    font-style: Medium;
    font-size: 1.8rem;
    color: #575d5e;
    margin-top: 20px;
}

.source-box {
    width: 1140px;
    height: 200px;
    border-radius: 100.5px;
    background-color: #e2eddf;
    margin: 120px auto 0px;
    line-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.source-logo {
    width: 70px;
    height: 70px;
}

/* Map */
.demo {
    position: relative;
}

#map {
    width: 100%;
    height: 100vh;
}

.demo-info__box {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
}

.demo-legend {
    margin-top: 10px;
    font-size: 14px;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

@keyframes breathing {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pulse-red {
    transform-origin: center;
    transform-box: fill-box;
    animation: breathing 1.5s infinite ease-in-out;
}

.pulse-green {
    transform-origin: center;
    transform-box: fill-box;
    animation: breathing 1.5s infinite ease-in-out;
}
