*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header {
    padding: 30px;
    background-color: #f5f5f5;
}

.header .container {
    border-radius: 2.5rem;
    box-shadow: 8px 8px 16px #aeaec066, -8px -8px 16px #fffc;
}

.header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo_page {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo_name {
    max-width: 85px;
    font-weight: 600;
    font-size: 2rem;
    color: #152427;
}

.navbar_list {
    display: flex;
    gap: 40px;
}

.nav_item {
    font-weight: 500;
    font-style: Medium;
    font-size: 1.8rem;
    color: #575d5e;
    transition: 0.25s;
}

.nav_item:hover {
    color: #33cc33;
    text-shadow: 1px 0 0 currentColor;
}

.cta {
    background-color: #143c3c;
    width: 173px;
    height: 57px;
    border-radius: 40px;
    font-weight: 500;
    font-style: Medium;
    font-size: 1.8rem;
    text-align: center;
    line-height: 57px;
    color: #ffffff;
    transition: 0.25s;
}

.cta:hover {
    background-color: #83a17d;
}

/* Hero */
.hero {
    background-color: #f5f5f5;
    padding-top: 180px;
    padding-bottom: 100px;
}

.hero_main {
    text-align: center;
}

.hero__heading {
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 5rem;
    line-height: 60px;
    background: #f0b7a1;
    background: linear-gradient(
        to right,
        #f0b7a1 0%,
        #8c3310 50%,
        #752201 51%,
        #bf6e4e 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__desc {
    font-weight: 500;
    font-style: Medium;
    font-size: 1.8rem;
    color: #575d5e;
    margin-top: 20px;
}

.source-box {
    width: 1140px;
    height: 201px;
    border-radius: 100.5px;
    background-color: #e2eddf;
    margin: 120px auto 0px;
    line-height: 201px;
}

/* Map */
.map {
    margin-top: 150px;
}
